# Binaries for programs and plugins
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# Test binary, built with `go test -c`
backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
backend/*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode
.idea/

backend/assets/img/avatars
!backend/assets/img/avatars/.gitkeep
backend/assets/img/chat/
!backend/assets/img/chat/.gitkeep
backend/storage/
!backend/storage/.gitkeep

# frontend
frontend/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
