@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'OpenMojiFont';
        src: url('/font/OpenMoji-color-glyf_colr_1.woff2');
        font-weight: bold;
        unicode-range:  U+1FAE0, U+0080-02AF, U+0300-03FF, U+0600-06FF, U+0C00-0C7F, U+1DC0-1DFF, U+1E00-1EFF, U+2000-209F, U+20D0-214F, U+2190-23FF, U+2460-25FF, U+2600-27EF, U+2900-29FF, U+2B00-2BFF, U+2C60-2C7F, U+2E00-2E7F, U+3000-303F, U+A490-A4CF, U+E000-F8FF, U+FE00-FE0F, U+FE30-FE4F, U+1F000-1F02F, U+1F0A0-1F0FF, U+1F100-1F64F, U+1F680-1F6FF, U+1F910-1F96B, U+1F980-1F9E0;
        font-display: swap;
    }

    @font-face {
        font-family: 'Edo';
        src: url('/font/edo.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: 'OpenMojiFontMac';
        src: url('/font/OpenMoji-color-glyf_colr_0.woff2');
        font-weight: normal;
        unicode-range: U+0080-02AF, U+0300-03FF, U+0600-06FF, U+0C00-0C7F, U+1DC0-1DFF, U+1E00-1EFF, U+2000-209F, U+20D0-214F, U+2190-23FF, U+2460-25FF, U+2600-27EF, U+2900-29FF, U+2B00-2BFF, U+2C60-2C7F, U+2E00-2E7F, U+3000-303F, U+A490-A4CF, U+E000-F8FF, U+FE00-FE0F, U+FE30-FE4F, U+1F000-1F02F, U+1F0A0-1F0FF, U+1F100-1F64F, U+1F680-1F6FF, U+1F910-1F96B, U+1F980-1F9E0;
        font-display: swap;
    }

    /*
        FORMS
    */

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply text-typography-main w-full border-solid bg-canvas-secondary border-2 border-gray-400 p-2 rounded-lg shadow-sm focus:border-secondary focus:outline focus:outline-1 focus:outline-secondary;
    }

    [type="checkbox"]{
        @apply border-gray-300 rounded-lg text-indigo-600 focus:ring-indigo-500;
    }

    /*
        TYPOGRAPHY
    */
    body {
        @apply text-typography-main font-sans
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        body {
            font-family: 'OpenMojiFontMac', sans-serif; /* Font for Safari */
        }
    }

    button, [type=submit] {
        @apply py-2 px-3 bg-buttons rounded text-typography-button
    }

    h1 {
        @apply text-5xl pb-2 font-title
    }
    h2 {
        @apply text-4xl pb-2 font-title
    }
    h3 {
        @apply text-2xl pb-1
    }
    h4 {
        @apply text-2xl
    }

    /*
        TABLES
    */

    table {
        @apply text-typography-main
    }

    tr:nth-child(even) {
        @apply bg-canvas-secondary
    }
}

html {
    /*
        button background color
    */
    --color-buttons: var(--color-primary);

    /*
        nav button icon color
    */
    --color-nav-icon: var(--color-secondary);

    /*
        vote star color
    */
    --color-vote-star: var(--color-warning);

    /*
        current user chat bubble background color. should contrast secondary canvas color
    */
    --color-chat-bubble-me: var(--color-primary);
    /*
        other user's chat bubble background color. should contrast secondary canvas color
    */
    --color-chat-bubble-you: var(--color-secondary);

    /*
        header color, which should contrast canvas-primary
    */
    --color-typography-header: var(--color-typography);

    /*
        main typography color, which should contrast canvas-primary and canvas-secondary
    */
    --color-typography-main: var(--color-typography);

    /*
        typography color for buttons, which should contrast button background color
    */
    --color-typography-button: var(--color-typography);

    /*
        typography color for current user chat bubble, which should contrast current user chat bubble background color
    */
    --color-typography-chat-me: var(--color-typography-chat);

    /*
        typography color for other user chat bubble, which should contrast other user chat bubble background color
    */
    --color-typography-chat-you: var(--color-typography-chat);

    /*
        typography color for nav menu
    */
    --color-typography-nav: var(--color-typography-main);

    /*
        typography color for greyed out texted
    */
    --color-typography-grey: #949494;

    /*
        background color of the app
    */
    --color-canvas-primary: var(--color-canvas-one);

    /*
        background color of child canvases such as chat window and form fields
    */
    --color-canvas-secondary: var(--color-canvas-two);
}


html[data-theme="light"] {
  --color-primary: #a4d4ae;
  --color-primary-light: #4CE66A;
  --color-primary-dark: #556658;

  --color-secondary: #32afa9;
  --color-secondary-light: #5E23D5;
  --color-secondary-dark: #554080;

  --color-typography: #343434;
  --color-typography-chat: #343434;

  --color-canvas-one: #f5deab;
  --color-canvas-two: #eef5d6;

  --color-warning: #FF7146;
}

html[data-theme="classic"] {
    --color-primary: #e27d5f;
    --color-primary-light: #D57623;
    --color-primary-dark: #805E40;

    --color-secondary: #7fc7bb;
    --color-secondary-light: #24F0CE;
    --color-secondary-dark: #49706A;

    --color-typography: #fff;
    --color-typography-chat: #fff;

    --color-canvas-one: #343434;
    --color-canvas-two: #575757;

    --color-warning: #AE2800;
}