@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply text-typography-main w-full border-solid bg-canvas-secondary border-2 border-gray-400 p-2 rounded-lg shadow-sm focus:border-secondary focus:outline focus:outline-secondary;
    }

    [type="checkbox"]{
        @apply border-gray-300 rounded-lg text-indigo-600 focus:ring-indigo-500;
    }

    label, a, p, span {
        @apply text-typography-main
    }

    button {
        @apply py-2 px-3 bg-buttons rounded text-typography-button
    }

    h1, h2, h3, h4 {
        @apply text-typography-header
    }

    h1 {
        @apply text-5xl pb-2
    }
    h2 {
        @apply text-4xl pb-2
    }
    h3 {
        @apply text-2xl pb-1
    }
    h4 {
        @apply text-2xl
    }
}


html[data-theme="classic"] {
    /*
        primary color is the main highlight colour
    */
    --color-primary: #ff44e5;

    /*
        second color is another highlight colour
    */
    --color-secondary: #2efd79;

    /*
        button background color
    */
    --color-buttons: var(--color-primary);

    /*
        nav button icon color
    */
    --color-nav-icon: var(--color-secondary);

    /*
        vote star color
    */
    --color-vote-star: rgb(250 204 21);

    /*
        current user chat bubble background color. should contrast secondary canvas color
    */
    --color-chat-bubble-me: var(--color-primary);
    /*
        other user's chat bubble background color. should contrast secondary canvas color
    */
    --color-chat-bubble-you: #c8b5e0;

    /*
        header color, which should contrast canvas-primary
    */
    --color-typography-header: #ffffff;

    /*
        main typography color, which should contrast canvas-primary and canvas-secondary
    */
    --color-typography-main: #dadada;

    /*
        typography color for buttons, which should contrast button background color
    */
    --color-typography-button: #ffffff;

    /*
        typography color for current user chat bubble, which should contrast current user chat bubble background color
    */
    --color-typography-chat-me: #ffffff;

    /*
        typography color for other user chat bubble, which should contrast other user chat bubble background color
    */
    --color-typography-chat-you: var(--color-typography-main);

    /*
        typography color for nav menu
    */
    --color-typography-nav: var(--color-typography-main);

    /*
        typography color for greyed out texted
    */
    --color-typography-grey: #575757;

    /*
        background color of the app
    */
    --color-canvas-primary: #040241;

    /*
        background color of child canvases such as chat window and form fields
    */
    --color-canvas-secondary: #0010a3;
}


html[data-theme="light"] {
  --color-primary: #f4cc70;
  --color-secondary: #6ab187;
  --color-buttons: #de7a22;
  --color-typography: #20948b;
  --color-canvas: #349998;
}
